.board {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.field {
  display: grid;
  grid-auto-rows: var(--tile-size);
  grid-gap: var(--space-xxs);
  padding: var(--space-xs);
  overflow: auto;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}
